.idea/
.gradle/
.DS_Store
/Processing/Genera/windows-amd64/
/Processing/Genera/macos-x86-64/
/Processing/Genera/macos-aarch64/
*/.DS_Store
*.gradle
*/gradle
*/gradle*
*/gradlew*
*/macos-x86_64
Processing/Genera/macos-x86_64
