<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.IDDev.nodes">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nodes"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7127109483374745~9513566357" />
        <activity
            android:name="com.IDDev.nodes.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.IDDev.nodes.NodePaper"
            android:enabled="true"
            android:exported="true"
            android:label="@string/node_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/node_paper"/>
        </service>
        <service
            android:name="com.IDDev.nodes.FlowPaper"
            android:enabled="true"
            android:exported="true"
            android:label="@string/flow_title"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/flow_paper" />
        </service>
    </application>

</manifest>